<html>
    <body>
        <form action="{{ settings.ROOTURL }}api/v1/upload" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" name="imageUpload" id="imageUpload" />
            </p>
            <p>
                <input type = "text" id = "uploadKey" name = "uploadKey" />
                <label for = "uploadKey">uploadKey</label>
            </p>
            <p>
                <input type="submit" value="submit" />
            </p>
        </form>
    </body>
</html>
